canvas
{
	border: 1px solid #c3c3c3;
}

fieldset
{
	margin: 1em;
}

td
{
	vertical-align: top;
}

fieldset a
{
	background-color: lightgrey;
	padding: 0.5em;
	border-radius: 5px;
}
